nextflow.enable.dsl=2

params {
    bam_dir            = null
    outdir             = 'results'
    samtools_container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
}

apptainer {
    enabled    = true
    autoMounts = true
}

manifest {
    name            = 'cna-analyses-from-wxs'
    description     = 'CNA-focused analysis of WXS BAM files with optional variant calling'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.0'
}

profiles {
    standard {
        process.executor = 'local'
    }
}
